#divClass1 {
    background-color: aquamarine;
    background-size: cover;
    width: 535px;
    height: 400px;
    margin-top: 20px;
    position: center;
    /* margin-left: 375px; */
}

.ui-stack {
    margin-bottom: 200px;
    margin-right: 0px;
    position: fixed;
}

.ui-menuitem-link .openStack li span {
    height: 30px;
}

#divClass2 {

}

.ui-accordion {
    font-size: 50%;
}

.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-panelgrid-cell {
    font-size: 90%;
}

.ui-widget-content {
    border: none;
    background-color: white;
}

.ui-panelgrid {
    font-size: 90%;
    border: none !important;
}

table {
    border: none !important;
}

tbody {
    border: none !important;
}

#infoOrClocksAndOptions tr {
    background-color: red;
}